.loginParent{
  /* display: flex; */
  justify-content: space-around;
}
.loginForm,.loginImage{
   /* width: 50%; */
  /*height: 70%; */
  margin: auto;
}
body{
  background-color: aquamarine;
}
button{
  margin: auto;
}
.loginImage{
  background-color:rgb(132, 132, 208);
  text-align: center;
}
.loginForm{
  background-color:yellowgreen;
  padding: 30px; 
  text-align: center;

}
input{
  width: 30%;
  height: 30px;
  margin: 10px;
}